<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseLayer.Properties.Settings._3semprojektConnectionString"
            connectionString="Data Source=.\;Initial Catalog=3semprojekt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseLayer.Properties.Settings.dmab0913_3ConnectionString"
            connectionString="Data Source=balder.ucn.dk;Initial Catalog=dmab0913_3;User ID=dmab0913_3;Password=MaaGodt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>